@model Fahrzeugen
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" />

}
@if (Model != null)
{
    <p>Autos angelegt</p>
}

<br />

<h3>@ViewBag.HashCode</h3>
