@model IEnumerable<Fahrzeugen>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parkhaus</h1>
</div>
<br />

@*Fahrzeugen einparken*@
<input type="button" value="Einparken" onclick="location.href='@Url.Action("Einparken")'" />

@*Fahrzeugen ausnparken*@
<input type="button" value="Ausparken" onclick="location.href='@Url.Action("Ausparken")'" />

@*Freie plätze anzeigen*@
<div style="text-align:right">
    @if (Model != null && Model.Count() > 0)
    {
        <label>Freie Parkplätze: </label>
        @ViewData["anzahl"]
    }
</div>


@*View mit der Fahrzeugen*@
<partial name="_FahrzeugenList" />