@{
    ViewData["Title"] = "Suchen";
}

<div class="text-center">
    <h1 class="display-4">Parkhaus</h1>
</div>
<br />


<h1>Suche</h1>

<form asp-controller="Home" asp-action="SuchergebnisseAnzeigen" data-ajax="true" data-ajax-update="#fahrzeugenList">

    <label>Nummernschild: </label>
    @Html.TextBox("nummernschild")

    <input type="submit" value="Suchen" placeholder="Nummerschild" />

</form>

<br />

@*<partial name="_FahrzeugenList" />*@

@* Div für Ergebnis vom Ajax Request *@
<div id="_FahrzeugenList"></div>